# Auswertung von

## Fragestelllung

## Imports

In [40]:
library(plyr)
library(tidyverse)
library (ggbeeswarm)
library(knitr)
library(rstatix)
library(effectsize)
library(psychReport)
library(MetBrewer)
library(gt)
library(webshot2)
library(corrr)
library(ARTool)

In [41]:
data_raw <- read.csv("data/out.csv")

data_pp <- data_raw

data_pp <- data_pp %>%
  mutate(
    id = factor(id),
    framerate = factor(framerate),
    marker = factor(marker),
    scene = factor(scene),
  )

head(data_raw)

  X id framerate marker scene  rating
1 0 1  120       aruco  image  5
2 1 1  120       aruco  text_d 3
3 2 1  120       aruco  text_w 5
4 3 1  120       point  image  5
5 4 1  120       point  text_d 3
6 5 1  120       point  text_w 5

In [42]:
m <- art(rating ~ framerate*marker*scene + Error(id), data=data_pp)

In [43]:
summary(m)

Aligned Rank Transform of Factorial Model

Call:
art(formula = rating ~ framerate * marker * scene + Error(id),
    data = data_pp)

Column sums of aligned responses (should all be ~0):
             framerate                 marker                  scene
                     0                      0                      0
      framerate:marker        framerate:scene           marker:scene
                     0                      0                      0
framerate:marker:scene
                     0

F values of ANOVAs on aligned responses not of interest (should all be ~0):
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
      0       0       0       0       0       0

In [44]:
anova(m)

  Term                   Error  Df Df.res Sum Sq     Sum Sq.res Mean Sq
1 framerate              Within  3 350    1356408.84 2474704     452136.28
2 marker                 Within  2 350     232054.74 3240308     116027.37
3 scene                  Within  2 350    3650538.09 1041746    1825269.05
4 framerate:marker       Within  6 350      65622.54 3292469      10937.09
5 framerate:scene        Within  6 350     952446.94 2805155     158741.16
6 marker:scene           Within  4 350     232650.48 3262594      58162.62
7 framerate:marker:scene Within 12 350     133272.61 3303124      11106.05
  F value    Pr(>F)
1  63.946100  5.449792e-33
2  12.532631  5.536183e-06
3 613.243486 4.131333e-115
4   1.162648  3.258132e-01
5  19.806182  6.279304e-20
6   6.239489  7.361922e-05
7   1.176801  2.981212e-01